extends layout
block head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
    script(type="application/javascript", src="/javascripts/bootstrap.min.js")
    script(type="application/javascript", src="/javascripts/tweetbutton.js")
block body
    - var name = author === '名無しさん' ? '名無し' : author
    div.view.container
        div.text-left
            a(href="/") トップページ
            &nbsp;＞&nbsp;
            a(href="/list/1") 一覧
            &nbsp;＞&nbsp;#{name}さんのすた4コマ
        div.text-right
            a.twitter-share-button(href="https://twitter.com/share" data-count="none"
                data-lang="ja" data-size="large" data-hashtags="すた4コマ"
                data-text="#{name}さんのすた4コマ") ツイート
        div.text-center
            h3 #{name}さんのすた4コマ
        div.frame.container
            img(src="/c/#{fileName}.png",
                title="#{new Date(Number(fileName)).toString()}",
                alt="ファイルがないよ(´・ω・｀)")
