extends layout
block meta
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="noindex, nofollow")
block script
    script(type="application/javascript", src="/javascripts/tweetbutton.js")
    script(type="application/javascript", src="/javascripts/ReadLog.js")
    script(type="application/javascript", src="/javascripts/view.js")
block body
    - var name = author === '名無しさん' ? '名無し' : author
    - var url = "https://sta4koma.rgx6.com/view/" + fileName;
    - var imgSrc = '/c/' + fileName + '.png';
    - var imgTitle = new Date(Number(fileName)).toString();
    div.view.container
        div.text-right
            a.twitter-share-button(href="https://twitter.com/share" data-count="none"
                data-lang="ja" data-size="large" data-hashtags="すた4コマ"
                data-text= name + "さんのすた4コマ" data-url= url) ツイート
        div.text-right.good
            button#good.btn.btn-xs.btn-default ちゅー
            span#goodCount.badge 0
        div.text-center
            h3 #{name}さんのすた4コマ
        div.frame.relative
            div#previous.frame-previous-link
                a.previous-text ＜ 前の作品
            div#next.frame-next-link
                a.next-text 次の作品 ＞
            img(src= imgSrc,
                title= imgTitle,
                alt="ファイルがないよ(´・ω・｀)")
